/* styles.css */
:root {
    --2px: 0.125rem;
    --main-font-color: white;
    --alt-font-color: gold;
    --background-color: black;
    --main-border-color: gold;
}

body {
    background-color: var(--background-color);
    color: var(--main-font-color);
}

#main-container {
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "header header header"
    "content content content"
    "footer footer footer";
    grid-template-rows: 2fr 20fr 1.5fr;
    grid-template-columns: 1fr 1fr 1fr;
}

header {
    grid-area: header;
    border-bottom: var(--2px) solid var(--main-border-color);
}

header h1 {
    font-size: 2.5rem;
    text-align: center;
    color: var(--alt-font-color);
}

#content {
    display: grid;
    grid-template-areas: 
    "left middle right";
    grid-template-columns: 2fr 5fr 2fr;
    grid-area: content;
}

.section-title {
    text-align: center;
    color: var(--alt-font-color);
}

/* Content Left Styles */
#content-left {
    grid-area: left;
    border-right: var(--2px) solid var(--main-border-color);
}

/* Content Middle Styles */
#content-middle {
    grid-area: middle;
    border-right: var(--2px) solid var(--main-border-color);
}

.task-item {
    display: flex;
    gap: 1rem;
}

/* Content Right Styles */
#content-right {
    grid-area: right;
}

footer {
    grid-area: footer;
    border-top: var(--2px) solid var(--main-border-color);
}